---
import { CollectionEntry, getCollection } from "astro:content";
import Layout from "../../../layouts/Layout.astro";
const posts = await getCollection("prayers", ({ id }) => {
  return id.startsWith("st-rita");
});
---

<Layout title="St. Faustina">
  <main class="pt-5">
    <section>
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/S.Rita_da_Cascia.jpg/220px-S.Rita_da_Cascia.jpg"
        class="w-[300px] h-[200px] object-cover rounded-md shadow-md"
        alt="cover-photo"
      />
      <h3 class="text-xl mt-2 font-medium">Short History of St Rita</h3>
      <div class="space-x-5">
        <a href="#days">
          <button
            class="rounded-md bg-[#ed5622] px-4 py-2 font-medium text-white shadow-2xl shadow-blue-500 mt-5"
            style="box-shadow: 0.6vmin 0.6vmin pink, 1vmin 1vmin #000,
    1vmin 1vmin #000, 0.65vmin 1vmin #000, 1vmin 0.65vmin #000;
  }"
          >
            Start A Novena
          </button>
        </a>
      </div>
      <article class="mt-[2rem] text-lg">
        Saint Rita was born Margherita Lotti in Roccaporena, Italy in 1381. The
        day after her baptism, Rita was surrounded by a swarm of white bees,
        which went in and out of her infant mouth without hurting her. Rather
        than being alarmed, her family believed she was marked to be virtuous
        and devoted to God. At an early age, she begged her parents to allow her
        to enter a convent but was instead arranged to be married to a cruel man
        named Paolo Mancini. Young Rita became a wife and mother at only twelve
        years of age and her husband was a man of violent temper. In anger, he
        often mistreated Rita verbally and physically. He was also known to
        pursue other women and he had many enemies. Paolo had many enemies in
        Cascia, but Rita's influence over him eventually led him to be a better
        man. He even renounced a family feud between the Mancinis and Chiquis.
        Unfortunately, the feud between the Mancini and Cascia family grew
        turbulent and one of Paolo's allies betrayed and killed him. Following
        her husband's death, Rita gave his murderers a public pardon, but
        Paolo's brother, Bernardo, was still angry and encouraged Rita's two
        sons, Giovanni Antonio and Paulo Maria, to join the feud. Under their
        uncle's leadership, each boy became more and more like their father had
        been before Rita married him, and they wanted to avenge their father's
        murder
      </article>

      <article class="mt-3 text-lg">
        Rita attempted to stop them, but both of her sons were determined to
        revenge their slain father. Rita prayed to God, asking Him to take her
        sons before they lost their souls to the mortal sin of murder. One year
        later, her prayers were answered when both of her sons fell prey to
        dysentery and died. Following the deaths of her sons, Rita attempted to
        enter the monastery of Saint Mary Magdalene in Cascia, but she was not
        allowed to join. Though Rita's character and piety were recognized, her
        husband's association with the family feud was greatly feared. When Rita
        persisted, the convent told her she could join if she could find a way
        to mend the wound between the Chiquis and Mancinis. After asking John
        the Baptist, Augustine of Hippo, and Nicholas of Tolentino to help her
        in her task, she attempted to end the feud. The bubonic plague had been
        spreading through Italy at that time, and when Bernardo Mancini became
        infected, he finally abolished the feud with the Chiqui family. Once the
        conflict was resolved, Rita was allowed to enter the monastery at the
        age of thirty-six. It is said that she was transported into the
        monastery of Saint Magdalene through levitation at night by the three
        patron saints she appealed to. While at the monastery, Rita performed
        her duties faithfully and received the sacraments frequently. Rita had a
        great devotion to the Passion of Christ, and one day, when she was
        sixty-year-old, she asked, "Please let me suffer like you, Divine
        Saviour." After her request, a wound appeared on her forehead, as if a
        thorn from Christ's crown had pierced her. It left a deep wound, which
        did not heal, and it caused her to suffer until the day she died. It is
        said that as she neared the end of her life, Rita was bedridden from
        tuberculosis. It was then that she asked a cousin who had come to visit
        for a rose from the garden in her old home. As it was January, her
        cousin did not expect to find any roses, but there was a single rose in
        bloom, which was brought back to Rita at the convent. She passed away
        four months later, on May 22, 1457. Following her death, she was buried
        at the basilica of Cascia, and was later discovered to be incorrupt. Her
        body can be found today in the Saint Rita shrine at Cascia.
      </article>

      <article class="mt-3 text-lg">
        O excellent St. Rita, worker of miracles, from thy sanctuary in Cascia,
        where in all thy beauty thou sleepest in peace, where thy relics exhale
        breaths of paradise, turn thy merciful eyes on me who suffer and weep!
        Thou seest my poor bleeding heart surrounded by thorns Thou seest, O
        dear Saint, that my eyes have no more tears to shed, so much have I
        wept! Weary and discouraged as I am, I feel the very prayers dying on my
        lips. Must I thus despair in this crisis of my life? O come, St. Rita,
        come to my aid and help me. Art thou not called the Saint of the
        Impossible, Advocate to those in despair? Then honor thy name, procuring
        for me from God the favor that I ask. [Here ask the favor you wish to
        obtain.] Everyone praises thy glories, everyone tells of the most
        amazing miracles performed through thee, must I alone be disappointed
        because thou hast not heard me? Ah no! Pray then pray for me to thy
        sweet Lord Jesus that He be moved to pity by my troubles and that,
        through thee, O good St. Rita, I may obtain what my heart so fervently
        desires. (Pray the Our Father, Hail Mary, Glory be to the Father, three
        times.) Those wishing to offer a novena should repeat this prayer for
        nine days.
      </article>
    </section>
    <section class="flex flex-col gap-5 items-center mt-5" id="days">
      {
        posts.map((post) => (
          <a href={post.slug}>
            <button class="px-4 py-3 bg-pink-500 rounded-md text-lg text-white w-[200px]">
              {post.data.title}
            </button>
          </a>
        ))
      }
    </section>
  </main>
</Layout>
